---

services:
  app:
    image: busybox:latest
    volumes:
      - "{{ compose_bind_test_root }}/data:/var/lib/app"
      - type: bind
        source: "{{ compose_bind_test_root }}/cache"
        target: /var/cache/app
      - "{{ compose_bind_test_root }}/nested/child:/nested-child"
      - "{{ compose_bind_test_root }}/nested:/nested"
      - "{{ compose_bind_test_root }}/existing-directory:/existing-directory"
      - "{{ compose_bind_test_root }}/existing-file:/existing-file"
      - "{{ compose_bind_test_root }}/permitted-symlink:/permitted-symlink"
      - "{{ compose_bind_test_root }}/settings.yaml:/etc/app/settings.yaml:ro"
      - ./relative-data:/relative-data
      - named-data:/named-data

volumes:
  named-data:
